Package: build-repo
Version: 1.8.3-SR
Architecture: i386
Maintainer: Arie-SR91 <syahri.ramadhan2022@gmail.com>
Depends: python3, gnupg, git, sudo
Installed-Size: 68
Description: Build git repository with deb files
