Package: repo-manager
Version: 2.1.2-SR
Architecture: arm
Maintainer: Arie-SR91 <syahri.ramadhan2022@gmail.com>
Depends: python3, gnupg, git, build-repo
Installed-Size: 56
Homepage: https://github.com/ArieSR91
Description: Repository manager
