Package: sr-undercover
Version: 1.2.0-SR
Architecture: i386
Maintainer: Arie-SR91 <syahri.ramadhan2022@gmail.com>
Installed-Size: 73396
Depends: python3, fonts-liberation, gir1.2-glib-2.0, libnotify-bin, mousepad, procps, psmisc, xdotool, xfce4, xfce4-datetime-plugin, xfce4-power-manager-plugins, xfce4-pulseaudio-plugin, xfce4-whiskermenu-plugin
Suggests: gtk2-engines-murrine
Section: misc
Priority: optional
Description: SR Undercover Mode
 Run “sr-undercover” and you will instantly switch your Xfce desktop into
 a Windows 10 desktop that will no longer draw attention to your activities.
 .
 Run it a second time to escape the cover mode and get back your original
 desktop settings.
