Package: download
Version: 1.0.0-SR
Architecture: all
Maintainer: Arie-SR91 <syahri.ramadhan2022@gmail.com>
Depends: youtube-dl, ffmpeg
Installed-Size: 100 KB
Description: Download video and music from Youtube.
